
configs/
checkpoints/
datasets/MSCOCO
datasets/VOCdevkit
others/
__pycache__

results_voc/
results_coco/

data/coco/COCO_cls_labels.npy
data/coco/train_labels.npy
data/coco/val_labels.npy

data/voc12/cls_labels.npy

test_demo.ipynb